* { box-sizing: border-box; }
html {
  background: #eee;
}
body {
  font-family: sans-serif;
  color: #222;
  background: #f8f8f8;
  width: 35em;
  min-height: 100vh;
  margin: 0 0 0 3em;
  padding: 3em;
}
h1, h2 {
  margin: 0;
  padding: 0.3em 0;
  font-weight: normal;
}
h2 {
  margin-top: 1em;
}
a {
  color: #4e43e3;
}
